<h2>O que é o Bitcoin?</h2>
<p>Bitcoin é a primeira moeda digital P2P e de código aberto (Bitcoin é um Software Livre):</p>
<ul>
  <li>Os Bitcoins podem ser enviados diretamente pela Internet,</li>
  <li>As transações de Bitcoins são irreversíveis,</li>
  <li>São seguros contra inflação descontrolada</li>
</ul>
Maiores detalhes em: <strong><%= link_to "Bitcoin.org", "http://bitcoin.org/pt/" %></strong>.
</p>
<h2>Suporte Bitfication</h2>
<p>Se você está enfrentando algum problema ou tem sugestões, por favor, envie um e-mail para: <a href="mailto:support@bitfication.com">Suporte Bitfication</a></p>
