<h2>What is Bitcoin?</h2>
<p>Bitcoin is a peer-to-peer, open source, digital currency:</p>
<ul>
<li>Bitcoins can be sent easily through the Internet,</li>
<li>Transactions are irreversible,</li>
<li>They are safe from uncontrolled inflation</li>
</ul>
<p>Read more at <a href="http://bitcoin.org/en/">Bitcoin.org</a></p>
<h2>Bitfication Support</h2>
<p>If you have any problems or suggestions, please, send an e-mail to: <a href="mailto:support@bitfication.com">Bitfication Support</a></p>
